# Load the Pandas libraries with alias 'pd'  and read data from file

In [0]:
import pandas as pd


# Read data from file 'filename.csv'

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
# Read data from file 'people.csv' 
# (in the same directory that your python process is based)
# Control delimiters, rows, column names with read_csv (see later) 
data = pd.read_csv("/content/drive/My Drive/Colab Notebooks/data/people.csv")

# Preview the first 5 lines of the loaded data

In [8]:
data.head()

                    John       Doe  ...   NJ  08075
0                   Jack  McGinnis  ...   PA   9119
1          John "Da Man"    Repici  ...   NJ   8075
2                Stephen     Tyler  ...   SD  91234
3                    NaN  Blankman  ...   SD    298
4  Joan "the bone", Anne       Jet  ...   CO    123

[5 rows x 6 columns]